<a href="/~random/" class="random-button search-button align-icon" title="{{ meta.uiStrings.randomButtonText }}" aria-label="{{ meta.uiStrings.randomButtonText }}">
    <span class="search-icon">
        <i data-lucide="shuffle"></i>
    </span>
    <span class="search-text">{{ meta.uiStrings.randomButtonText }}</span>
</a>
